
{% assign gallery_layout = 'third' %}

<figure class="{{ gallery_layout }} {{ include.class }} post-list">
{% for post in site.posts limit: 9 %}
    {% if post.url %}
      <div>
	  <a href=
        {% if post.url contains "://" %}
          "{{ post.url }}"
        {% else %}
          "{{ post.url | relative_url }}"
        {% endif %}
        {% if post.title %}title="{{ post.title }}"{% endif %}
      >
        <img src=
          {% if post.header.teaser contains "://" %}
            "{{ post.header.teaser }}"
          {% else %}
            "{{ post.header.teaser | relative_url }}"
          {% endif %}
          alt="{% if post.alt %}{{ post.alt }}{% endif %}">
      </a>
	  <p class="category-gallery-title">{{post.title}}</p>
	  </div>
    {% else %}
      <img src=
        {% if post.header.teaser contains "://" %}
          "{{ post.header.teaser }}"
        {% else %}
          "{{ post.header.teaser | relative_url }}"
        {% endif %}
        alt="{% if post.alt %}{{ post.alt }}{% endif %}">
    {% endif %}
{% endfor %}
  {% if include.caption %}
    <figcaption>{{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }}</figcaption>
  {% endif %}
</figure>