<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!--load all Font Awesome styles -->
<link href="/assets/fontawesome-free-6.1.1-web/css/all.min.css" rel="stylesheet">

<!-- http://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<!--[if lte IE 9]>
  <style>
    /* old IE unsupported flexbox fixes */
    .greedy-nav .site-title {
      padding-right: 3em;
    }
    .greedy-nav button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
  </style>
<![endif]-->

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | relative_url }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}"></script>
  {% endfor %}
{% endif %}

<script type="text/javascript" src="{{ '/assets/js/main.min.js' | relative_url }}"></script>

<script type="text/javascript">
function doToggle(obj) 
{    
    if((obj.parent().next('ul').is(":visible")))
	{
      obj.html('+ /');
    }
	else
	{
      obj.html('- /');
    } 
	obj.parent().next('ul').toggle(200);
}

function updateNumProductsInOrder()
{
	var lastOrder = JSON.parse(window.localStorage.getItem("lastOrder")) || {};
	if (lastOrder.order)
	{
		var items = 0;
		
		for(var i=0; i < lastOrder.order.length; ++i)
		{
		  var item = lastOrder.order[i];
		  
		  if(item.qty > 0)
		  {
			items ++;
		  }
		}
		$("#id-num-prod").html(""+items);
	}
	else
	{
		$("#id-num-prod").html("0");
	}
}


function getShopOrderForCurrentSku()
{
	var lastOrder = JSON.parse(window.localStorage.getItem("lastOrder")) || {};
	var sku = $('.shop-product-option-select').children('option:selected').attr('data-id');
	var price = $('.shop-product-option-select').children('option:selected').attr('data-price');
	var desc = $('.shop-product-option-select').children('option:selected').attr('data-desc');
	var prod = $('.shop-product-option-select').children('option:selected').attr('data-prod');
	var found = false;
	var orderItem = null;

	lastOrder.order = lastOrder.order || [];

    for(var i=0; i < lastOrder.order.length; ++i)
    {
	  var item = lastOrder.order[i];
	  if(item.sku == sku)
	  {
	  	item.price = price;
		orderItem = item;
		found = true;
		
		$("#shop-basket-items-qty-sku").html("&nbsp;("+item.qty+" în coș)");
		
		break;
	  }
    }

    if(!found && (price > 0))
    {
	  lastOrder.order.push({"sku":sku, "qty":0, "price":price, "desc":desc, "prod":prod});
	  orderItem = lastOrder.order[lastOrder.order.length - 1];
    }
	
	return {lastOrder, orderItem};
}

function updateBasketSummary()
{
	if($(".shop-product-order"))
	{
		var order = getShopOrderForCurrentSku().lastOrder;
		var items = 0;
		var total = 0;
		
		for(var i=0; i < order.order.length; ++i)
		{
		  var item = order.order[i];
		  
		  if(item.qty > 0)
		  {
			items ++;
		  }
		  
		  total += item.price * item.qty;
		}
		
		$("#shop-basket-items-qty").html(items);
		$("#shop-basket-items-price").html(""+total);
	}
	updateNumProductsInOrder();
}

$( document ).ready(function() 
{    
	$('.shop-product-image')
	.on('mouseover', function(){
	  $(this).children('.shop-product-image-zoom').css({'transform': 'scale('+ $(this).attr('data-scale') +')'});
	})
	.on('mouseout', function(){
	  $(this).children('.shop-product-image-zoom').css({'transform': 'scale(1)'});
	})
	.on('mousemove', function(e){
	  $(this).children('.shop-product-image-zoom').css({'transform-origin': ((e.pageX - $(this).offset().left) / $(this).width()) * 100 + '% ' + ((e.pageY - $(this).offset().top) / $(this).height()) * 100 +'%'});
	})

	$( ".shop-btn-order" ).click(function() 
	{
	  window.location.href = "/checkout/";
	});

	updateNumProductsInOrder();

	if($(".shop-product-image").length)
	{
		var size = $(".shop-product-details").width()*0.9;
		$(".shop-product-image").width(size);
		$(".shop-product-image").height(size);
	}
	
	if($(".shop-product-order").length)
	{
		var updateProdDescription = function()
		{
		  var selectedOption = $(".shop-product-option-select").children("option:selected");
		  
		  var id = selectedOption.attr('data-id');
		  var price = selectedOption.attr('data-price');
		  var stock = parseInt(selectedOption.attr('data-stock'));
		  var state = selectedOption.attr('data-state');

		  $('.shop-product-image-zoom').attr('src',$('#'+id).attr('src')); 
		  $('.shop-product-img-thumb').removeClass('shop-product-img-thumb-active'); 
		  $('#'+id).addClass('shop-product-img-thumb-active');
		  
		  if($(".shop-product-option-select").children().length == 0)
		  {
			$(".shop-product-option").html("<h4 class='page__title shop-product-stock-red' >Stocul pentru acest sortiment este epuizat.</h4>");
			$("#shop-product-add-basket").css("display", "none");
		  }
		  else
		  {
			  $(".shop-product-price").html("<h2 style='display:" + (stock > 0 ? "block" : "none") + "' class='page__title' >" + price +" RON <span style='text-align: right;font-size:0.7em;' id='shop-basket-items-qty-sku'></span></h2>"); 
			  
			  if(stock == 0)
			  {
				$("#shop-product-add-basket").css("display", "none");
			  }
			  else
			  {
				$("#shop-product-add-basket").css("display", "inline");
			  }
			  
			  var stockHTML = "";
			  
			  if(stock == 0)
				stockHTML = "<h4 class='page__title shop-product-stock-red' >Stocul pentru această cantitate este epuizat</h4>";
			  else if(stock < 10)
				stockHTML = "<h4 class='page__title shop-product-stock-yellow' >Ultimele "+stock+" produse</h4>";
			  else
				stockHTML = "<h4 class='page__title shop-product-stock-green' ></h4>";
			  
			  $(".shop-product-stock").html(stockHTML);
			  
			  var orderItem = getShopOrderForCurrentSku().orderItem;
			  $("input[name='productsInBasket']").val(orderItem.qty);
			}
		}

		$('.shop-product-option-select').change(function(){
		  updateProdDescription();
		});
		
		updateProdDescription();
		
		updateBasketSummary();
		
		$('.shop-product-inline-input').change(function(){
		
		  var stock = parseInt($('.shop-product-option-select').children('option:selected').attr('data-stock'));
		  var order = getShopOrderForCurrentSku();
		  var lastOrder = order.lastOrder;
		  var orderItem = order.orderItem;
		  
		  var curValue = parseInt($("input[name='productsInBasket']").val());
		  
		  if(curValue !== NaN && curValue < stock && curValue > 0)
		  {
			orderItem.qty = val;
			window.localStorage.setItem("lastOrder", JSON.stringify(lastOrder));
		  }
		  else
		  {
			$("input[name='productsInBasket']").val(orderItem.qty);
		  }
		  
		  updateBasketSummary();
		});
		
		$( "#shop-product-order-inc" ).click(function() 
		{
		  var stock = parseInt($('.shop-product-option-select').children('option:selected').attr('data-stock'));
		  var order = getShopOrderForCurrentSku();
		  var lastOrder = order.lastOrder;
		  var orderItem = order.orderItem;

		  
		  if(orderItem.qty < stock/2 + 1)
			++orderItem.qty;
		  
		  $("input[name='productsInBasket']").val(orderItem.qty);
		  window.localStorage.setItem("lastOrder", JSON.stringify(lastOrder));
		  updateBasketSummary();
		});
		
		$( "#shop-product-order-dec" ).click(function() 
		{
		  var order = getShopOrderForCurrentSku();
		  var lastOrder = order.lastOrder;
		  var orderItem = order.orderItem;

		  if(orderItem.qty > 0)
			--orderItem.qty;
		  else
		    orderItem.qty = 0;
		  
		  $("input[name='productsInBasket']").val(orderItem.qty);
		  window.localStorage.setItem("lastOrder", JSON.stringify(lastOrder));
		  updateBasketSummary();
		});
	}
	
	//Checkout page
	
	if($("#id-checkout-basket-body").length)
	{
		var updateBasket = function() {
			$("#id-shop-form-cmd").val(getOrderMachineString());
			$("#id-shop-form-cmd-nice").val(getOrderSummaryString());
			
			updateBasketDescr();
		}
	
		var updateBasketDescr = function()
		{
			var htmlOrder="<table>";
			var lastOrder = JSON.parse(window.localStorage.getItem("lastOrder")) || {};
			lastOrder.order = lastOrder.order || [];
			var totalPrice = 0;
			for(var i=0; i < lastOrder.order.length; ++i)
			{
			  var item = lastOrder.order[i];
			  if(item.qty > 0)
			  {
				htmlOrder += "<tr><td>"+item.desc+"</td><td>"+item.qty + " x " + item.price + " RON</td></tr>";
				totalPrice += item.qty*item.price;
			  }
			}
			if(totalPrice > 0)
			{
				htmlOrder += "<tr><td>Total comandă</td><td>"+totalPrice+" RON</td></tr>";
				$(".shop-btn-order-empty").css("display", "inline");
				$(".shop-btn-order-copy").css("display", "inline");
				$("#id-basket-head").html("Cosul tau de cumparaturi:");
				
			}
			else //empty basket
			{
				$(".shop-btn-order-empty").css("display", "none");
				$(".shop-btn-order-copy").css("display", "none");
				$("#id-basket-head").html("🛒 Coșul dvs. de cumpărături este gol. Adăugați <a href=\"/shop/\">produse</a>.");
				$("#id-checkout-basket-body").css("display", "none");
				
				$("#id-form-ckeckout").css("display", "none");
			}
			htmlOrder += "</table>";
			$("#id-checkout-basket-body").html(htmlOrder);
		}
		
		var selectOrder = function (containerid) 
		{
			if (document.selection) { // IE
				var range = document.body.createTextRange();
				range.moveToElementText(document.getElementById(containerid));
				range.select();
			} else if (window.getSelection) {
				var range = document.createRange();
				range.selectNode(document.getElementById(containerid));
				window.getSelection().removeAllRanges();
				window.getSelection().addRange(range);
			}
		}
		
		$( ".shop-btn-order-fb" ).click(function() 
		{
		  window.location.href = "https://m.me/mierarium";
		});

		var getOrderString = function()
		{
			var lastOrder = JSON.parse(window.localStorage.getItem("lastOrder")) || {};
			lastOrder.order = lastOrder.order || [];
			var orderText = "";

			for(var i=0; i < lastOrder.order.length; ++i)
			{
			  var item = lastOrder.order[i];
			  if(item.qty > 0)
			  {
				orderText += item.qty + "x" + item.desc + " ";
			  }
			}

			if(orderText.length)
			{
				orderText = "Buna!As dori sa comand: " + orderText;
			}
			return encodeURI(orderText);
		}
		
		var getOrderMachineString = function()
		{
			var lastOrder = JSON.parse(window.localStorage.getItem("lastOrder")) || {};
			lastOrder.order = lastOrder.order || [];
			var orderText = "";

			for(var i=0; i < lastOrder.order.length; ++i)
			{
			  var item = lastOrder.order[i];
			  if(item.qty > 0)
			  {
				orderText += item.sku + "," + item.qty + ",";
			  }
			}

			return encodeURI(orderText);
		}
		
		var getOrderSummaryString = function()
		{
			var lastOrder = JSON.parse(window.localStorage.getItem("lastOrder")) || {};
			lastOrder.order = lastOrder.order || [];
			var orderText = "";
			var total = 0;
			for(var i=0; i < lastOrder.order.length; ++i)
			{
			  var item = lastOrder.order[i];
			  if(item.qty > 0)
			  {
				orderText += item.qty + "x" + item.desc + ", ";
				total += item.qty * item.price;
			  }
			}

			if(orderText.length)
			{
				orderText = orderText + "TOTAL: " + total + "RON";
			}
			return encodeURI(orderText);
		}

		$( ".shop-btn-order-wa" ).click(function() 
		{
			var a = "74";
			var b = "444";
			var c = "40";
			var d = "56";
			var e = "01";

			var orderText = getOrderString();
			window.location.href = "https://wa.me/"+c+a+b+e+d+"?text="+encodeURI(orderText);
		});

		updateBasket();
		
		$(".shop-btn-order-copy").click(function() 
		{
		  $("#id-div-hidden-input").html("<input type=\"text\" id=\"id-checkout-input-hid\" style=\"position:fixed;top:0;left:0;width:2em;height:2em;border:'none';outline:'none';boxShadow:'none';background:'transparent'\" value=\""+getOrderString()+"\">");
		  
		  /* Get the text field */
		  var copyText = $("#id-checkout-input-hid").get(0);

		  if(copyText)
		  {
			  /* Select the text field */
			  copyText.select();
			  copyText.setSelectionRange(0, 99999); /*For mobile devices*/
			  
			  selectOrder("id-checkout-basket-body");

			  /* Copy the text inside the text field */
			  document.execCommand("copy");
			  
			  $("#id-div-hidden-input").html("");
			  $(".shop-btn-order-copy").html("Copiat!");
		  }
		});
		
		$(".shop-btn-order-empty").click(function() 
		{
			$(".shop-btn-order-empty").css("display", "none");
			$("#id-empty-basket-confirm").html(" Sigur? <div class=\"shop-product-order-btn noselect\" id=\"id-empty-basket-confirm-yes\">Da</div>" + 
											   "<div class=\"shop-product-order-btn noselect\" id=\"id-empty-basket-confirm-no\">Nu</div>");
			$("#id-empty-basket-confirm-yes").click(function() 
			{
				$(".shop-btn-order-empty").css("display", "inline");
				window.localStorage.setItem("lastOrder", "{}");
				$("#id-empty-basket-confirm").html("");
				updateBasket();
				updateNumProductsInOrder();
			});
			$("#id-empty-basket-confirm-no").click(function() 
			{
				$(".shop-btn-order-empty").css("display", "inline");
				$("#id-empty-basket-confirm").html("");
			});
		});
	}
});

$( window ).resize(function() 
{
	if($(".shop-product-image"))
	{
		var size = $(".shop-product-details").width()*0.9;
		$(".shop-product-image").width(size);
		$(".shop-product-image").height(size);
	}
});


</script>