{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% capture thecycle %}{% cycle 'left', 'right' %}{% endcapture %}

<!--<div class="{{ include.type | default: "list" }}__item">-->

  <!--<article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">-->
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser" style="display:inline">
		<img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | relative_url }}"
          {% endif %}
          alt=""  style="width:30%;float:{{thecycle}};padding:0.3em">
		  <div style="display:inline;">
		      <h2 class="archive__item-title" style="text-align:{{thecycle}}" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 200 }}</p>{% endif %}
	</div>
      </div>
    {% endif %}

 <!-- </article>-->
<br/><hr>
