{% if page.author_profile or layout.author_profile or page.sidebar or page.sidebarshop %}

  <div class="sidebar sticky" style="height:100%">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebarshop %}
    {% assign navigation = site.data.navigation[page.sidebarshop.nav] %}
	<nav class="nav__list">
	  {% if page.sidebar.title %}<h3 class="nav__title" style="padding-left: 0;">{{ page.sidebar.title }}</h3>{% endif %}
	  <input id="ac-toc" name="accordion-toc" type="checkbox" />
	  <label for="ac-toc">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle Menu" }}</label>
	  <ul class="nav__items">
		{% for nav in navigation %}
		  <li>
			{% if nav.url %}
			  {% comment %} internal/external URL check {% endcomment %}
			  {% if nav.url contains "://" %}
				{% assign nav_url = nav.url %}
			  {% else %}
				{% assign nav_url = nav.url | relative_url %}
			  {% endif %}
			  <span class="nav__sub-title"><span class="nav__shop_menu_toggle" onclick="doToggle($(this))">- /</span>&nbsp;&nbsp;<a href="{{ nav_url }}">{{ nav.title }}</a></span>
			{% else %}
			  <span class="nav__sub-title">{{ nav.title }}</span>
			{% endif %}
			{% if nav.children != null %}
			  
			<ul>
			  {% for child in nav.children %}
				{% comment %} internal/external URL check {% endcomment %}
				{% if child.url contains "://" %}
				  {% assign child_url = child.url %}
				{% else %}
				  {% assign child_url = child.url | relative_url %}
				{% endif %}
				{% comment %} set "active" class on current page {% endcomment %}
				{% if child.url == page.permalink %}
				  {% assign active = "active" %}
				{% else %}
				  {% assign active = "" %}
				{% endif %}
				<li><a href="{{ child_url }}" class="{{ active }}">{{ child.title }}</a></li>
			  {% endfor %}
			</ul>
			{% endif %}
		  </li>
		{% endfor %}
	  </ul>
	</nav>
  {% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | relative_url }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}