---
layout: archive
author_profile: true
---

{{site.data.projects.prjInfo[page.title]}}

  {% for category in site.categories %}  
    {% if category[0] == page.title %}
	
      <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
       <!-- <h2 class="archive__subtitle">{{ category[0] }}</h2> -->
        <div class="entries-grid">
          {% for post in category.last %}
            {% include archive-single.html type="grid" %}
          {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
  {% endfor %}
