---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date: "%B %d, %Y" }}">{% endif %}

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.title %}
		  <!--  <h4 class="page__related-title" style="margin:0" >Project: <a href="/prjs/{{ page.category }}/">{{ page.category }}</a></h4> -->
			<h1 id="page-title" class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
		  {% endif %}
		  
          {% if page.read_time %}
            <p class="page__meta" ><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
          {% endif %}
        </header>
      {% endunless %}

      <section class="page__content" itemprop="text">
        {% if page.toc %}
          <aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
            <nav class="toc">
              <header><h4 class="nav__title"><i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label }}</h4></header>
              {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" %}
            </nav>
          </aside>
        {% endif %}

		{% for product in site.data.shop['shop-stock'] %}
			{% if product.category == page.shop-category %}
				<div class="shop-product">
					<div class="shop-product-gallery">
						<div class="shop-product-image" data-scale="2.5" >
							<img class="shop-product-image-zoom" src={{product.images[0].url}}></img>
						</div>
						<div class="shop-product-image-carousel" >
						{% for img in product.images %}
						    {% if forloop.first == true %}
								<img class="shop-product-img-thumb shop-product-img-thumb-active" id={{img.id}} src={{img.url}} onclick="$('.shop-product-image-zoom').attr('src',$(this).attr('src')); $('.shop-product-img-thumb').removeClass('shop-product-img-thumb-active'); $(this).addClass('shop-product-img-thumb-active');">
							{% else %}
								<img class="shop-product-img-thumb" id={{img.id}} src={{img.url}} onclick="$('.shop-product-image-zoom').attr('src',$(this).attr('src')); $('.shop-product-img-thumb').removeClass('shop-product-img-thumb-active'); $(this).addClass('shop-product-img-thumb-active');">
							{% endif %}
						{% endfor %}
						</div>
					</div>
					<div class="shop-product-details">
						<div class="shop-product-title">
							<h1 id="page-title" class="page__title" itemprop="headline">{{product.title}}</h1>
						</div>
						<div class="shop-product-description">
							{{product.desc}}
						</div>
						
						<hr/>
						
						<div class="shop-product-option" onclick="$('#{{opt.sku}}').trigger('click');">
							<span>Cantitate
								<select class="shop-product-option-select">
									{% for opt in product.options %}
										{% if opt.stock > 0 %}
											<option class="shop-product-option-select-text" data-id={{opt.sku}} data-price={{opt.price}} data-stock={{opt.stock}} data-state={{opt.state}} data-desc="{{opt.desc}}" data-prod={{opt.prod}} >
												{{opt.qty}}&nbsp;{{opt.um}}
											</option>
										{% endif %}
									{% endfor %}
								</select>
							</span>
						</div>
						<hr/>
						<div class="shop-product-price">
							{% if product.outOfStock == 1 %}
								<h4 class='page__title shop-product-stock-gray' >{{product.restockMessage}}</h4>
							{% endif %}
						</div>
						<div class="shop-product-stock"></div>
						<div class="shop-product-order">
							<span id="shop-product-add-basket"> 
								Adaugă în coș 
								<div class="shop-product-order-inc noselect" id="shop-product-order-dec">-</div>
								<input class="shop-product-inline-input" name="productsInBasket" type="text" value="1"/>
								<div class="shop-product-order-inc noselect" id="shop-product-order-inc">+</div> 
							</span>
							<hr/>
							<span> 
								Sumar coș: 
								<div class="shop-product-inline-input-info" id="shop-basket-items-qty"> 0</div>
								produse, total 
								<div class="shop-product-inline-input-info" id="shop-basket-items-price">0</div>
								RON	
							</span>
							<hr/>
							<div class="shop-product-order-btn shop-btn-order noselect">🛒 Finalizează comanda&nbsp;</div> 
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}

		{{ content }}

        {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
        {% if page.last_modified_at %}
          <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.last_modified_at | date: "%Y-%m-%d" }}">{{ page.last_modified_at | date: "%B %d, %Y" }}</time></p>
        {% elsif page.date %}
          <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
        {% endif %}
      </footer>

      {% if page.share %}{% include social-share.html %}{% endif %}

      
    </div>

    {% if jekyll.environment == 'production' and site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}
  </article>

   <div class="page__related">
	{% if page.id and page.related %}
	  {% assign maxRelated = 4 %}
	  {% assign maxRelated_minus_1 = maxRelated | minus: 1 %}
	  {% assign maxRelated_minus_2 = maxRelated | minus: 2 %}
	  {% assign atLeastOneRelated = false %}
	  
	  {% assign relatedPosts = '' | split: '' %}
	  {% assign relatedPostTags = '' | split: '' %}

	  <!-- initialize related posts map -->
	  {% for i in (0..maxRelated_minus_1) %}
		{% assign p = '0' | split: '' %}
		{% assign relatedPosts = relatedPosts | concat: p %}
		{% assign relatedPostTags = relatedPostTags | concat: p %}
	  {% endfor %}
	  
	  <!-- find number of matching tags for every post, and create sorted map -->
	  {% for post in site.posts %}
		{% assign sameTagCount = 0 %}

		{% for tag in post.tags %}
		  {% if post.url != page.url %}
			{% if page.tags contains tag %}
			  {% assign sameTagCount = sameTagCount | plus: 1 %}
			{% endif %}
		  {% endif %}
		{% endfor %}
		
		<!-- debug -->
		<!--
		{% if sameTagCount > 0 %}
			tag count for {{post.title}} is {{sameTagCount}} 
			</br>
		{% endif %}
		-->
		
		<!-- create temporary array, workaround liquid not alowing to modify array in place --> 
		{% assign temp_relatedPosts = '' | split: '' %}
		{% assign temp_relatedPostTags = '' | split: '' %}
		
		<!-- true if this post's number of common tags is greater than any other in the relatedPosts map--> 
		{% assign foundPlace = false %}
		
		<!-- loop through the relatedPosts map and determine id this post should be inserted -->
		{% for i in (0..maxRelated_minus_1) %} 
			{% assign numTags = relatedPostTags[i] | plus: 0 %}
			{% if sameTagCount > numTags %}
				<!-- found place in related at {{i}} -->
				<!-- move all to the right then copy over, insertion sorting -->
				
				<!-- there is at least one related post-->
				{% assign atLeastOneRelated = true %}
				
				{% assign p = post.id | split: ' ' %}
				{% assign q = sameTagCount | split: '' %}
				{% assign temp_relatedPosts = temp_relatedPosts | concat: p %}
				{% assign temp_relatedPostTags = temp_relatedPostTags | concat: q %}
				
				{% for j in (i..maxRelated_minus_2) %} 
					{% assign p = relatedPosts[j] | split: '' %}
					{% assign q = relatedPostTags[j] | split: '' %}
					{% assign temp_relatedPosts = temp_relatedPosts | concat: p %}
					{% assign temp_relatedPostTags = temp_relatedPostTags | concat: q %}
				{% endfor %}
				
				{% assign foundPlace = true %}
				
				{% break %}
			{% else %}
				{% assign p = relatedPosts[i] | split: ' ' %}
				{% assign q = relatedPostTags[i] | split: '' %}
				{% assign temp_relatedPosts = temp_relatedPosts | concat: p %}
				{% assign temp_relatedPostTags = temp_relatedPostTags | concat: q %}
			{% endif %}
		{% endfor %} <!--  for i in (0..maxRelated_minus_1) %}  -->
		
		<!-- assign new created array to global arrays (the related posts map)-->
		{% if foundPlace %}
			{% assign relatedPosts = temp_relatedPosts %}
			{% assign relatedPostTags = temp_relatedPostTags %}
		{% endif %}

	  {% endfor %} <!--  for post in site.posts %} -->
	  
	 
	  <!-- create dom for related posts section -->
	  {% if atLeastOneRelated %}
		<h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h4>
		  <div class="grid__wrapper">		
			{% for i in (0..maxRelated_minus_1) %} 
				{% assign numTags = relatedPostTags[i] | plus: 0 %}
				{% if numTags > 0 %}
					{% assign postArray = site.posts | where:"id", relatedPosts[i] %}
					{% assign post = postArray[0] %}
					{% include archive-single.html type="grid" %}
				{% endif %}
			{% endfor %}
		  </div>	 
	 {% endif %}
	 
	 
	 
	
  {% endif %} <!--  if page.id and page.related %} -->
 
 {% include post_pagination.html %}
 </div>
</div>
